@charset "UTF-8";
/* Main */
* {
  font-family: "Roboto", Helvetica Neue sans-serif;
  max-height: 200vh;
  list-style: none;
  text-decoration: none;
}

a, .card {
  cursor: pointer;
}

/* Functions */
/* Breakpoints */
@media screen and (min-width: 499px) {
  body {
    max-width: 499px;
    height: auto;
    margin: auto;
  }
}
/* Color */
/* Mixin */
.image-bg1 {
  background: url("assets/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.image-bg2 {
  background: url("assets/img/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.image-bg3 {
  background: url("assets/img/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.image-bg4 {
  background: url("assets/img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

/* Class */
h1, h2 {
  margin-right: 18px;
  margin-left: 18px;
  font-size: 130%;
}

h3 {
  font-size: 100%;
  font-weight: 500;
}

@font-face {
  font-family: "Roboto" helvetica serif;
}
@font-face {
  font-family: Shrikhand sans-serif;
  src: url("assets/font/shrikhand/shrikhand-v11-latin-regular.woff2") format("woff2"), url("assets/font/shrikhand/shrikhand-v11-latin-regular.ttf") format("truetype");
}
body {
  background-color: #F6F6F6;
}

.spacer {
  padding-top: 12px;
  padding-bottom: 12px;
}

.spacer-s {
  padding-top: 6px;
  padding-bottom: 6px;
}

.spacer-l {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo .logo--img {
  margin-top: 5%;
  margin-bottom: 3%;
  max-width: 220px;
}

.locator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  font-weight: 500;
  background-color: #eaeaea;
}
.locator .margin-icon {
  padding: 0px 18px;
}

.wrapper {
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 6%;
  padding-bottom: 3%;
  background-color: #fff;
}

.light-grey {
  background-color: #F6F6F6;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5% 10%;
  padding-bottom: 2rem;
  flex-direction: column;
  text-align: center;
  background-color: #F6F6F6;
}
.hero .hero--title {
  margin-right: 18px;
  margin-left: 18px;
  font-size: 130%;
}
.hero .hero--subtitle {
  font-size: 115%;
  font-weight: 300;
  color: #888;
  margin-top: -1rem;
  margin-bottom: 1rem;
}
.hero .btn--hero {
  font-size: 100%;
  font-weight: 500;
  border-radius: 5rem;
  background-color: linear-gradient(350deg, #9356DC 7%, #FF79DA 100%);
  padding: 4px 28px;
  background: linear-gradient(350deg, #9356DC 7%, #FF79DA 100%);
  color: #fff;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
}
.hero .btn--hero:hover {
  background: linear-gradient(350deg, #a86cf0 10%, #FF79DA 100%);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
}
.hero .btn--hero__alt {
  font-size: 100%;
  font-weight: 500;
  border-radius: 5rem;
  background-color: linear-gradient(350deg, #9356DC 7%, #FF79DA 100%);
  padding: 4px 48px;
  background: linear-gradient(350deg, #9356DC 7%, #FF79DA 100%);
  color: #fff;
  box-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
}

.onboarding {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 3% 3%;
  flex-direction: column;
  max-width: 100% auto;
  background-color: #fff;
  justify-content: space-between;
}
.onboarding .onboarding--title {
  align-items: flex-start;
  justify-content: flex-start;
}
.onboarding .onboarding--card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 16px;
  box-shadow: 0px 8px 26px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  min-height: 80px;
  margin-bottom: 4%;
}
.onboarding .onboarding--card:hover {
  transform: scale(1.05);
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.14);
  background-color: rgba(147, 86, 220, 0.2);
}
.onboarding .onboarding--number {
  font-size: 100%;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9356DC;
  color: #fff;
  border-radius: 100%;
  margin-right: 22px;
  width: 33px;
  height: 30px;
  position: relative;
  left: -13px;
}
.onboarding .onboarding--icon {
  font-size: 20px;
  padding-right: 6%;
  opacity: 0.8;
}
.onboarding .onboarding--text {
  font-size: 100%;
  font-weight: 500;
}

.card {
  display: flex;
  justify-content: space-between;
  border-radius: 16px;
  flex-direction: column;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  position: relative;
  min-height: 240px;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 2%;
  margin-bottom: 5%;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}
.card:hover {
  transform: scale(1.02);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
}
.card .card--object {
  justify-content: flex-start;
  align-items: flex-end;
  background-color: #fff;
  border-radius: 0rem 0rem 1rem 1rem;
}
.card .card--state {
  border-radius: 10px;
  background-color: #99E2D0;
  align-items: center;
  justify-content: center;
  align-self: self-end;
  width: 25%;
  margin-top: 4%;
  margin-right: 4%;
}
.card .card--state > p {
  font-size: 100%;
  font-weight: 500;
  text-align: center;
  color: #008766;
}
.card .card--state > p:hover {
  font-weight: 700;
}
.card .card--info {
  flex-direction: row;
  padding-top: 6%;
  padding-bottom: 2%;
  padding-left: 6%;
}
.card .card--info .card--info__title {
  font-size: 120%;
  font-weight: 600;
  justify-content: flex-start;
  margin: 0;
}
.card .card--info .card--info__city {
  padding-top: 4px;
  font-size: 110%;
  font-weight: 300;
  margin: 0;
}
.card .card--info .card--info__icon {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 100%;
  position: relative;
  bottom: 30px;
  right: 65px;
}

footer {
  background-color: #3c3c3c;
  color: #F6F6F6;
  padding: 4%;
}
footer .footer--logo {
  max-width: 120px;
}
footer .footer--infos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: -2rem;
}
footer .footer--infos > li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 100%;
  max-height: 28px;
}
footer .footer--infos > li > h3:hover {
  font-size: 107%;
}
footer .footer--infos__icon {
  padding-right: 18px;
}

/* Page Restaurant 1 */
.header-alt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.header-alt .header-alt--inline {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.header-alt .header-alt--inline__icon {
  position: absolute;
  left: 10%;
}
.header-alt .header-alt--inline__logo {
  margin-top: 5%;
  margin-bottom: 3%;
  max-width: 190px;
}
.header-alt .header-alt--img {
  position: relative;
  height: 40vh;
  background-repeat: no-repeat;
  background-size: contain;
}
.header-alt .header-alt--inline__img {
  z-index: -1;
  margin-bottom: -3rem;
  border-radius: 16px;
}

/*  Entrées  */
section {
  margin: 0;
  background-color: #F6F6F6;
}
section .section--title {
  margin-top: 12px;
}
section .section--title__alt {
  font-family: Shrikhand sans-serif;
  font-size: 160%;
}
section .section--title__light {
  font-size: 110%;
  font-weight: 200;
  text-transform: uppercase;
  margin: 0;
  border-bottom: solid 3px #99E2D0;
  padding-bottom: 6px;
  width: 7%;
}
section .section--title__subtitle {
  margin: 0;
  font-weight: 300;
  color: #3c3c3c;
  padding-bottom: 18px;
  line-height: 16px;
}
section .section--title__subtitle > p {
  margin: 0;
  padding: 0;
  font-size: 85%;
  overflow: hidden;
  max-width: 90%;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
}
section .section--restaurant-title {
  display: flex;
  justify-content: space-between;
  z-index: 6;
  align-items: center;
  border-radius: 16px;
  padding-top: 6px;
  width: 100%;
}
section .section--icon {
  margin-top: 12px;
  padding-right: 12%;
}
section .section--item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
section .section--item .section--item__card {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  margin-top: 4px;
  margin-bottom: 3px;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 8px;
  box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
section .section--item .section--item__info {
  margin: 0;
  width: 80%;
  padding-left: 18px;
}
section .section--item .section--item__info > h3 {
  font-size: 100%;
  margin: 0;
  padding-bottom: 6px;
  padding-top: 18px;
}
section .section--item .section--item__price {
  align-self: flex-end;
  justify-content: end;
  padding-right: 22px;
  display: flex;
  width: 20%;
}
section .section--item .section--item__price > p {
  font-weight: 500;
  font-size: 80%;
}

/*# sourceMappingURL=style.css.map */
