@import "./assets/sass/utils/variables";
@import "./assets/sass/components/loader";


/* Main */

* {
    font-family: "Roboto", Helvetica Neue sans-serif;
    max-height: 200vh;
    list-style: none;
    text-decoration: none;
}

a,
.card {
    cursor: pointer;
}


/* Functions */

@function lightness-shift($colour) {
    @if (lightness($colour) < 25%) {
        $colour: lighten($colour, 10%);
    }

    @else {
        $colour: darken($colour, 10%);
    }

    @return $colour;
}




/* Breakpoints */

@media screen and (min-width: 468px) {
    body {
        max-width: 499px;
        margin: auto;
    }
}

body:before {
    content: "";
    display: block;
    position: absolute;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin inline-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@mixin flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

@mixin flex-between {
    display: flex;
    justify-content: space-between;
}

@mixin flex-end {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

@mixin spacing-icon {
    padding: 0px 18px;
}

@mixin spacing-xsmall {
    margin-top: 4px;
    margin-bottom: 3px;
}

@mixin padding {
    padding: .5rem;
}

@mixin radius-xsmall {
    border-radius: 10px;
}

@mixin radius-small {
    border-radius: 16px;
}

@mixin radius-large {
    border-radius: 5rem;
}

@mixin header-spacing {
    margin-top: 5%;
    margin-bottom: 3%;
}

@mixin light {
    font-size: 110%;
    font-weight: 200;
    text-transform: uppercase;
}

@mixin small {
    font-size: 100%;
    font-weight: 500;
}

@mixin regular {
    font-size: 100%;
    font-weight: 500;
}

@mixin bold {
    font-size: 120%;
    font-weight: 600;
}

@mixin medium {
    font-size: 115%;
    font-weight: 300;
}

@mixin title {
    margin-right: 18px;
    margin-left: 18px;
    font-size: 130%;
}

@mixin ease {
    transition: all 400ms;
    -o-transition-timing-function: ease-in;
}


.image-bg1 {
    background: url("assets/img/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.image-bg2 {
    background: url("assets/img/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.image-bg3 {
    background: url("assets/img/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.image-bg4 {
    background: url("assets/img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}


.card {
    @include flex-between;
    @include radius-small;
    @include ease;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    min-height: 240px;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 5%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.20);
    }

    .card--object {
        justify-content: flex-start;
        align-items: flex-end;
        background-color: $light;
        border-radius: 0rem 0rem 1rem 1rem;
    }

    .card--state {
        @include radius-xsmall;
        background-color: $third;
        align-items: center;
        justify-content: center;
        align-self: self-end;
        width: 23%;
        margin-top: 4%;
        margin-right: 4%;
    }

    .card--state>p {
        @include small;
        margin: 8px;
        text-align: center;
        color: $third-dark;
    }

    .card--info {
        flex-direction: row;
        padding-top: 6%;
        padding-bottom: 2%;
        padding-left: 6%;

        .card--info__title {
            @include bold;
            justify-content: flex-start;
            margin: 0
        }

        .card--info__city {
            padding-top: 4px;
            font-size: 110%;
            font-weight: 300;
            margin: 0;
        }

        .card--info__icon {
            @include flex-end;
            font-size: 100%;
            position: relative;
            bottom: 30px;
            right: 65px;
        }
    }
}

/* Class */

h2,
h3,
h4:visited {
    color: $darker;
}

h1,
h2 {
    @include title;
}

h3,
h5 {
    @include regular;
}


@font-face {
    font-family: "Roboto" helvetica serif;
}

@font-face {
    font-family: Shrikhand sans-serif;
    src: url("assets/font/shrikhand/shrikhand-v11-latin-regular.woff2") format("woff2"),
        url("assets/font/shrikhand/shrikhand-v11-latin-regular.ttf") format("truetype");
}
html{
    background: $light;
}

body {
    margin: auto;
}

.light{
    background: $light;
}

.spacer {
    padding-top: 12px;
    padding-bottom: 12px
}

.spacer-s {
    padding-top: 6px;
    padding-bottom: 6px;
}

.spacer-l {
    padding-top: 24px;
    padding-bottom: 24px;
}

.logo {
    @include flex;

    .logo--img {
        @include header-spacing;
        max-width: 220px;
    }
}

.locator {
    @include flex;
    @include small;
    background-color: $grey;

    .margin-icon {
        @include spacing-icon;
    }
}

.wrapper {
    padding-left: 3%;
    padding-right: 3%;
    padding-top: 6%;
    padding-bottom: 3%;
    background-color: $light;
}

.light-grey {
    background-color: $light-grey;
}

.hero {
    @include flex;
    padding: 5% 10%;
    padding-bottom: 2rem;
    flex-direction: column;
    text-align: center;
    background-color: $light-grey;
    .hero--title {
        @include title;
    }

    .hero--subtitle {
        @include medium;
        color: $medium;
        margin-top: -1rem;
        margin-bottom: 1rem
    }

    .btn--hero {
        @include regular;
        @include radius-large;
        @include ease;
        padding: 4px 28px;
        background: $gradient;
        color: $light;
        box-shadow: 0px 5px 16px rgba(0, 0, 0, .2);
    }

    .btn--hero:hover {
        background: $gradient-light;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, .3);
    }

    .btn--hero__alt {
        @include regular;
        @include radius-large;
        padding: 4px 48px;
        background: $gradient;
        color: $light;
        box-shadow: 0px 5px 16px rgba(0, 0, 0, .2);
    }
}


.onboarding {
    @include flex-start;
    padding: 3% 3%;
    flex-direction: column;
    max-width: 100% auto;
    background-color: $light;
    justify-content: space-between;

    .onboarding--title {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .onboarding--card {
        @include flex-start;
        @include radius-small;
        @include ease;
        box-shadow: 0px 2px 8px 0px rgb(0 0 0 / 14%);
        width: 100%;
        min-height: 80px;
        margin-bottom: 4%;

        &:hover {
            transform: scaleX(1.03) scaleY(1.08);
            background-color: $primary-light;
            box-shadow: 0px 8px 26px 0px rgb(0 0 0 / 10%);
        }
    }

    .onboarding--number {
        @include regular;
        @include flex;
        background-color: $primary;
        color: $light;
        border-radius: 100%;
        margin-right: 22px;
        width: 33px;
        height: 30px;
        position: relative;
        left: -13px;
    }

    .onboarding--icon {
        font-size: 20px;
        padding-right: 6%;
        opacity: .8;
    }

    .onboarding--text {
        @include regular;
    }
}

.card {
    @include flex-between;
    @include radius-small;
    @include ease;
    flex-direction: column;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    position: relative;
    min-height: 240px;
    margin-right: 1%;
    margin-left: 1%;
    margin-top: 2%;
    margin-bottom: 5%;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);

    &:hover {
        transform: scale(1.03);
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.20);
    }

    .card--object {
        justify-content: flex-start;
        align-items: flex-end;
        background-color: $light;
        border-radius: 0rem 0rem 1rem 1rem;
    }

    .card--state {
        @include radius-xsmall;
        background-color: $third;
        align-items: center;
        justify-content: center;
        align-self: self-end;
        width: 23%;
        margin-top: 4%;
        margin-right: 4%;
    }

    .card--state>p {
        @include small;
        margin: 8px;
        text-align: center;
        color: $third-dark;
    }

    .card--info {
        flex-direction: row;
        padding-top: 6%;
        padding-bottom: 2%;
        padding-left: 6%;

        .card--info__title {
            @include bold;
            justify-content: flex-start;
            margin: 0
        }

        .card--info__city {
            padding-top: 4px;
            font-size: 110%;
            font-weight: 300;
            margin: 0;
        }

        .card--info__icon {
            @include flex-end;
            font-size: 100%;
            position: relative;
            bottom: 30px;
            right: 65px;
        }
    }
}

footer {
    background-color: $dark;
    color: $light-grey;
    padding: 4%;

    .footer--logo {
        max-width: 120px;
    }

    .footer--infos {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: -2rem;
    }

    .footer--infos>li {
        @include flex;
        font-size: 100%;
        max-height: 28px;
    }

    .footer--infos>li>h3:hover {
        font-size: 107%;
    }

    .footer--infos__icon {
        padding-right: 18px;
    }
}


/* Page Restaurant 1 */

.header-alt {
    @include flex;
    flex-direction: column;

    .header-alt--inline {
        @include flex;
        flex-direction: row;
    }

    .header-alt--inline__icon {
        position: absolute;
        left: 10%;
    }

    .header-alt--inline__logo {
        @include header-spacing;
        max-width: 190px;
    }

    .header-alt--img {
        background-repeat: no-repeat;
        background-size: auto;
        height: 40vh;
        width: 100%;
    }

    .header-alt--inline__img {
        z-index: -1;
        margin-bottom: -3rem;
        border-radius: 16px;
    }
}


/*  Entrées  */

section {
    @include padding;

    .section--title {
        margin-top: 12px;
    }

    .section--title__alt {
        font-family: Shrikhand sans-serif;
        font-size: 160%;
    }

    .section--title__light {
        @include light;
        margin: 0;
        border-bottom: solid 3px $third;
        padding-bottom: 6px;
        width: 7%;
    }

    .section--title__subtitle {
        margin: 0;
        font-weight: 300;
        color: $dark;
        padding-bottom: 18px;
        line-height: 16px;
    }

    .section--title__subtitle>p {
        margin: 0;
        padding: 0;
        font-size: 85%;
        overflow: hidden;
        max-width: 90%;
        font-weight: 300;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .section--restaurant-title {
        @include flex-between;
        z-index: 6;
        align-items: center;
        border-radius: 16px;
        padding-top: 6px;
        width: 100%;
    }

    .section--icon {
        margin-top: 12px;
        padding-right: 12%;
    }

    .section--item {
        @include flex-between;
        @include padding;
        flex-direction: column;

        .section--item__card {
            @include flex-start;
            @include radius-xsmall;
            @include spacing-xsmall;
            align-items: center;
            width: 100%;
            height: 100%;
            margin-top: 8px;
            box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
            background-color: $light;

            &:hover {
                cursor: pointer;
            }
        }

        .section--item__card:hover>.section--item__info {
            flex: 100%;
        }

        .section--item__checked {
            font-size: 160%;
            color: $light;
        }

        .section--item__card:hover>.section--item__checked {
            @include flex;
            @include ease;
            height: 77px;
            min-width: 77px;
            flex: 25%;
            transform: translateX(0px);
            background-color: $third;
            border-radius: 0px 10px 10px 0px;
        }
        }

        .section--item__card:hover {
            @include ease;
            box-sizing: border-box;
            transform: scale(1.02);
        }

        .section--item__info {
            margin: 0;
            width: 80%;
            padding-left: 18px;
        }

        .section--item__info>h3 {
            font-size: 100%;
            white-space: nowrap;
            overflow: hidden;
            margin: 0;
            padding-bottom: 6px;
            padding-top: 18px;
        }

        .section--item__price {
            align-self: flex-end;
            justify-content: end;
            padding-right: 22px;
            display: flex;
            width: 20%;
        }

        .section--item__price>p {
            font-weight: 500;
            font-size: 90%;
        }
    }

.slide-up {
    animation: slide-up 1200ms 600ms;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}

@keyframes slide-up {
    0% {
        transform: translateY(25%);
        opacity: .0;
    }

    85% {
        opacity: 1;
    }

    100% {
        transform: translateY(0%) ease-out;
    }
}