
.image-bg1 {
    background: url("assets/img/palette-du-gout.jpg");
}

.image-bg2 {
    background: url("assets/img/note-enchante.jpg");
}

.image-bg3 {
    background: url("assets/img/a-la-francaise.jpg");
}

.image-bg4 {
    background: url("assets/img/delice-sens.jpg");
}