
.image-bg1 {
    background: url("../img/palette-du-gout.jpg");
}

.image-bg2 {
    background: url("../img/note-enchante.jpg");
}

.image-bg3 {
    background: url("../img/a-la-francaise.jpg");
}

.image-bg4 {
    background: url("../img/delice-sens.jpg");
}