
.loader {
    @include flex;
    z-index: 10;
    animation: hideLoader 1000ms 1 forwards;
    animation-delay: 600ms;
}
.loader::before{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 200vh;
    background: $light;
    opacity: 1;
    content: "";
    z-index: 0;
}

.loader::after {
    content: "";
    display: block;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: $light-grey solid 5px;
    border-top-color: $primary;
    border-bottom-color: $primary;
    border-radius: 50%;
    animation: spin 1400ms linear infinite;
}

@keyframes hideLoader {
    100% {
        opacity: 0;
        display: none;
        visibility: hidden;
    }
}

@keyframes spin {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}