@media screen and (min-width: 1000px){
    .onboarding{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .onboarding--card{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #restaurant-section{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    #restaurant-section .card{
        min-width: 480px;
    }
    .wrapper--title>h2{
        font-size: 170%;
    }
    .hero--title>h1{
        font-size: 180%;
    }
    .btn--hero{
        margin-bottom: 3rem;
    }
    .header-alt--inline__img{
        margin-bottom: -1.5rem;
    }
    .section--border{
        padding-top: 1rem;
        padding-left: 8%;
        padding-right: 8%;
    }

    footer ul.footer--infos{
        flex-direction: row;
    }
    footer ul.footer--infos > li {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}


@media screen and (max-width: 1000px) and (min-width:600px) {
    body {
        max-width: 100%;
        margin: auto;
    }
    #restaurant-section a{
        text-align: -webkit-center;
    }
    .card--info__title, .card--info__city{
        display: flex;
        justify-content: flex-start;
    }
    .section--border{
        padding-top: 1rem;
        padding-left: 6%;
        padding-right: 6%;
    }
    .onboarding{
        display: flex;
        flex-direction: column;
        &--card{
            max-width: 500px;
        }
    }
    .wrapper--title{
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .card{
        flex: 2;
        max-width: 500px;
    }

    footer ul.footer--infos{
        flex-direction: row;
    }
    footer ul.footer--infos > li {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width:600px){
    .onboarding{
        display: flex;
        flex-direction: column;
    }
}

* {
    font-family: "Roboto", Helvetica Neue sans-serif;
    max-height: 200vh;
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-family: Roboto sans-serif;
}

@font-face {
    font-family: Shrikhand serif;
    src: url("../font/shrikhand/shrikhand-v11-latin-regular.woff2") format("woff2"),
        url("../font/shrikhand/shrikhand-v11-latin-regular.ttf") format("truetype");
}

a {
    text-decoration: none;
}

a,
.card {
    cursor: pointer;
    color: $dark;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: $dark;
}

h2,
h3,
h4:visited {
    color: $darker;
}

h1,
h2 {
    @include title;
}

h3,
h5 {
    @include regular;
}

html {
    background: $light;
    scroll-behavior: smooth;
}

section {
    background: $light-grey;
}

body,
section,
html {
    margin: auto;
    z-index: -1;
}