
.logo {
    @include flex;

    .logo--img {
        @include header-spacing;
        max-width: 220px;
    }
}

.locator {
    @include flex;
    @include small;
    background-color: $grey;

    .margin-icon {
        @include spacing-icon;
    }
}

.header-alt {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .header-alt--inline {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;
        box-shadow: 0px 8px 6px -6px rgb(0 0 0 / 80%);
    }

    .header-alt--inline__icon {
        flex: 1;
        padding-left: 2rem;
        padding-top: 12px;
        font-size: 70%;
        color: $dark;
    }

    .header-alt--inline__logo {
        @include header-spacing;
        max-width: 190px;
    }
    .header-alt--inline__space{
        flex: 1;
    }

    .header-alt--img {
        width: 100%;
        object-fit: cover;
        display: block;
    }
    .header-alt--inline__img {
        z-index: -1;
        margin-bottom: -3rem;
        height: 40vh;
        overflow: hidden;
    }
}
