.fade-right {
    animation-fill-mode:backwards;
    overflow: hidden;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes fade-right {
    0% {
        flex: 0%;
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    100% {
        flex: 100%;
    }
}


@keyframes rotate-icon {

    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.slide-up-title{
    animation: slide-up 600ms ease;
}

.slide-up-card{
    animation: slide-up 800ms ease-out;
}

.delay{
    animation-delay: 600ms;
    animation-fill-mode: backwards;
}

.delay-alt{
    animation-delay: 600ms;
    animation-fill-mode:both;
}

@keyframes delay{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


@keyframes slide-up{

    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    60%{
        opacity: .1;
    }

    100%{
        opacity: 1;
        transform: translateY(0);
    }
}