.slide-up {
    animation: slide-up 1000ms;
    animation-fill-mode:backwards;
    overflow: hidden;
}

@keyframes slide-up {
    0% {
        transform: transformY(50%);
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        transform: transformY(0%);
    }
}

.fade-right {
    animation-fill-mode:backwards;
    overflow: hidden;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes fade-right {
    0% {
        flex: 0%;
        opacity: 0;
    }
    40%{
        opacity: 1;
    }
    100% {
        flex: 100%;
    }
}


@keyframes rotate-icon {

    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}