.slide-up {
    overflow: hidden;
    animation: slide-up 1200ms;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}

@keyframes slide-up {
    0% {
        transform: transformY(25%);
        opacity: 0;
    }

    85% {
        opacity: 1;
    }

    100% {
        transform: transformY(0%);
    }
}

.fade-right::after {
    animation: fade-right 400ms;
    animation-fill-mode:backwards;
    overflow: hidden;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    transition-timing-function: cubic-bezier(.42, 0, .58, 1);
}

@keyframes fade-right {
    0% {
        transform: translateX(40%);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}


@keyframes rotate-icon {

    0% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(0deg);
    }
}